@model IEnumerable<Dept>
@{
    ViewData["Title"] = "Index";
}
@if (Model.Count()>0)
{
    <table class="table">
        <thead>
            <tr>

                <th scope="col">@Html.DisplayNameFor(x=>x.id)</th>
                <th scope="col">@Html.DisplayNameFor(x => x.name)</th>
                <th scope="col">@Html.DisplayNameFor(x => x.createAt)</th>
            </tr>
        </thead>
        <tbody>
            <tr>

                @foreach (var x in Model)
                {
                    <td>@x.id</td>
                    <td>@x.name</td>
                    <td>@x.createAt</td>
                }
            </tr>
           
        </tbody>
    </table>
}
else{
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>ALERT!</strong> No Departements To Show.
    </div>
}
